body{
    background-color: rgb(211, 234, 247);
    padding: 5%;
    background-image: url("ios.jpg"),url("ios.jpg");
    background-repeat: no-repeat,no-repeat;
    background-position: 40px;
    background-blend-mode: color-burn;
    background-size: auto;
    transition: ease-out opacity 0.5s;
    
}
button{
    background-color:rgb(161, 187, 235);
    align-items: center;
    border-radius: 4px;

}
.card{

    display: flex;
    flex-direction: column;
    background-color: rgb(244, 246, 248);
    border-width: 3px;
    border-radius: 16px;
    max-width: 350px;
    max-height: 600px;
    align-items: center;
    justify-self: center;
    padding: 1%;
}


